In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df=sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df.shape

(150, 5)

In [5]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [6]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [7]:
spcs=df.species
spcs.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [8]:
spcs=spcs.map({'setosa':0,'versicolor':1,'virginica':2})
spcs

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [9]:
df.drop('species',inplace=True,axis=1)
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [10]:
X=df
Y=spcs

In [11]:
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te=train_test_split(X,Y,test_size=0.30,random_state=0)
print("x train",x_tr.shape)
print("y train",y_tr.shape)
print("x test",x_te.shape)
print("y test",y_te.shape)

x train (105, 4)
y train (105,)
x test (45, 4)
y test (45,)

In [12]:
from sklearn.ensemble import RandomForestClassifier
classif=RandomForestClassifier(n_estimators = 7,criterion='entropy',random_state=0)
classif.fit(x_tr,y_tr)

RandomForestClassifier(criterion='entropy', n_estimators=7, random_state=0)

In [13]:
y_pr=classif.predict(x_te)
y_pr

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0, 2, 1, 0, 2, 2, 1, 0, 2, 1, 1, 2, 0, 2, 0,
       0], dtype=int64)

In [14]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [18]:
cm=confusion_matrix(y_te,y_pr)
print("Confusion Matrix",cm)

Confusion Matrix [[16  0  0]
 [ 0 17  1]
 [ 0  0 11]]

In [22]:
print("Accuracy Score:",accuracy_score(y_te,y_pr))

Accuracy Score: 0.9777777777777777

In [23]:
print(classification_report(y_te,y_pr))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        16
           1       1.00      0.94      0.97        18
           2       0.92      1.00      0.96        11

    accuracy                           0.98        45
   macro avg       0.97      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45