In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df=sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
spcs=df.species
spcs=spcs.map({'setosa':0,'versicolor':1,'virginica':2})

In [5]:
df.drop('species',inplace=True,axis=1)

In [6]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
spcs.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [8]:
X=df
Y=spcs

In [13]:
from sklearn.model_selection import train_test_split
from sklearn import svm,metrics
x_tr,x_te,y_tr,y_te=train_test_split(X,Y,test_size=0.30,random_state=0)
classif=svm.SVC(kernel="linear")

In [14]:
classif.fit(x_tr,y_tr)

SVC(kernel='linear')

In [15]:
pred=classif.predict(x_te)

In [17]:
metrics.accuracy_score(y_te,pred)

0.9777777777777777

In [18]:
metrics.confusion_matrix(y_te,pred)

array([[16,  0,  0],
       [ 0, 17,  1],
       [ 0,  0, 11]], dtype=int64)

In [37]:
print(metrics.classification_report(y_te,pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        16
           1       1.00      0.94      0.97        18
           2       0.92      1.00      0.96        11

    accuracy                           0.98        45
   macro avg       0.97      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45

In [38]:
#JuST Checking polynomial and Radial Basis if any change comes
a_tr,a_te,b_tr,b_te=train_test_split(X,Y,test_size=0.30,random_state=0)
classif=svm.SVC(kernel="poly")

In [39]:
classif.fit(a_tr,b_tr)

SVC(kernel='poly')

In [40]:
pred=classif.predict(a_te)

In [41]:
metrics.accuracy_score(b_te,pred)

0.9777777777777777

In [42]:
x_tr,x_te,y_tr,y_te=train_test_split(X,Y,test_size=0.30,random_state=0)
classif=svm.SVC(kernel="rbf")

In [43]:
classif.fit(x_tr,y_tr)

SVC()

In [44]:
pred=classif.predict(x_te)

In [45]:
metrics.accuracy_score(y_te,pred)

0.9777777777777777